---
---
<header>
  {% assign prof = site.data.profile %}
  <h2>{{ prof.jp.name }}/{{ prof.en.name }}</h2>

  <div class="profile">
    <p>{{ prof.jp.affiliation }}</p>
    <p>{{ prof.en.affiliation }}</p>

    <p>E-mail: {{ prof.email }}</p>
  </div>

  <h3>Links</h3>
  <ul class="links">
    {% for item in prof.links %}
    <li><a href={{ item.url }}>{{ item.display }}</a></li>
    {% endfor %}
  </ul>

  <h3>Research interests</h3>
  <ul class="interests">
    {% for item in prof.keywords %}
      <li>{{ item  }}</li>
    {% endfor %}
  </ul>

  <h3>Biography</h3>
  <ul class="biography">
    {% for item in prof.biography %}
      <li>
        <ul>
          <li class="date">{{ item.date }}</li>
          <li class="affiliation">{{ item.affiliation }}</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</header>
<section>
  {% assign pub = site.data.publications %}
  <h3>Journal papers</h3>
  <ol>
    {% for item in pub.journals %}
      <li>{{ item }}</li>
    {% endfor %}
  </ol>

  <h3>International conferences (reviewed)</h3>
  <ol>
    {% for item in pub.int-conferences %}
      <li>{{ item }}</li>
    {% endfor %}
  </ol>

  <h3>Awards</h3>
  <ol>
    {% for item in pub.awards %}
      <li>{{ item }}</li>
    {% endfor %}
  </ol>

  <h3>Grants</h3>
  <ol>
    {% for item in pub.grants %}
      <li>{{ item }}</li>
    {% endfor %}
  </ol>

</section>