---
scriptfiles:
  - assets/js/list_publications.js
  - assets/js/gen_m.js
  - assets/js/toggle_lang.js
  - assets/js/set_page_default.js
---
<header>
  {% include html-parts/headers/name.html %}
  {% include html-parts/headers/profile.html %}
  {% include html-parts/headers/links.html %}
  {% include html-parts/headers/interests.html %}
  {% include html-parts/headers/biography.html %}
</header>

<section>
  {% include html-parts/sections/section-title.html %}
  {% include html-parts/sections/style-option.html %}
  {% include html-parts/sections/journals.html %}
  {% include html-parts/sections/int-conferences.html %}
  {% include html-parts/sections/tech-reports.html %}
  {% include html-parts/sections/awards.html %}
  {% include html-parts/sections/grants.html %}
</section>
