<p>
  <details>
    <summary>View settings</summary>

    <form id="list_format">
      <span class="style_option">
        <span>Citation style</span>
        <span class="radio_box">
          <input type="radio" class="format_btn" name="style" id="full" value="full" checked>
          <label for="full" class="format">long</label>

          <input type="radio" class="format_btn" name="style" id="short" value="short">
          <label for="short" class="format">short</label>
        </span>
      </span>

      <span class="style_option">
        <span>Order</span>
        <span class="radio_box">
          <input type="radio" class="format_btn" name="order" id="ascending" value="ascending">
          <label for="ascending" class="format">ascending</label>

          <input type="radio" class="format_btn" name="order" id="descending" value="descending" checked>
          <label for="descending" class="format">descending</label>
        </span>
      </span>
    </form>
  </details>
</p>